body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/prediction1.jpg);
  }
  
  header {
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    color: #fff;
  }
  
  main {
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  .container {
    display: flex;
  }
  
  .sidebar {
    width: 20%;
    background-color: #e0d389;
    padding: 20px;
  }
  .sidebar-left {
    order: -1; /* Place the left sidebar before the main content */
  }
  .sidebar-right {
    order: 1; /* Place the right sidebar after the main content */
  }
  .cristiano img {
    width: 100%;
    height: inherit;
  }

  
  
  table {
    width: 60%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: rgb(208, 212, 212);
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #a2d14b;
  }
  
  tfoot th {
    border-top: 1px solid #ddd;
  }
  
  tfoot td {
    font-weight: bold;
  }
  
  footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    color: #fff;
  }
  **********************
  h1 {
    text-align: center;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #f0f0f0;
  }
  
  thead {
    background-color: #67796c;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  